<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">

<div class="card-deck">
<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Cotação Dólar</div>
  <div class="card-body text-dark">
    <h5 class="card-title">Cotação Baixa</h5>
    <p class="card-text">{{cotacaoBaixa}}</p>
  </div>
</div>
    <div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Cotação Dólar</div>
  <div class="card-body text-dark">
    <h5 class="card-title">Cotação Alta</h5>
    <p class="card-text">{{cotacaoAlta}}</p>
  </div>
</div>
</div>
</div>
</body>
</html>